<h1>Usersshow</h1>
<h3>名前：<%= @user.username %></h3>
<h3>所属：<%= @user.userdes %></h3>
<h3>自己紹介：<%= @user.usertxt %></h3>
<%= image_tag @user.picture.to_s if @user.picture? %>

<% if  @user == current_user  %>
  <%= link_to "編集", edit_user_path(current_user) %>
<% end %>
<%= render @user.posts %>
<%= render "posts/form" %>
<%= link_to "いいねをする", user_posts_path(@user) %>

<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
<%= render 'follow_form' if user_signed_in? %>

<% if @user.id == current_user.id %>

  <% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

  <%= link_to "ユーザー一覧に戻る", users_path %>

  <p><a href="/rooms/<%= @roomId %>">チャットへ</a>