<%= form_for ([@user, @user.posts.build]) do |f| %>
  <div class="field">
    <%= f.text_area :belo, placeholder: " 所属" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "プロフィール" %>
  </div>
  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :post_id, :value => @user.id %>
   <% end %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>


 